/*收货信息*/
.mainbox {
    width: 60%;
    background-color: white;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px 2%;
}

.firstbox {
    margin-top: 100px;
}

.toptitle {
    text-align: center;
    padding-bottom: 20px;

}

#number {
    padding-left: 10px;
    width: 100px;
}

.selectAddress {
    height: 30px;
}

.mui-numbox button {
    height: 30px;
}

.mui-numbox input {
    height: 30px;
}

.invoice_type label {
    margin: 0px 10px 0px 0px;
}

.invoice_title .invoice_notice {
    color: grey;
    margin-top: 10px;
}

#show_coupon {
    cursor: pointer;
    text-decoration: none;
    color: #1BA8B7;
}

#couponWrapper a.btn {
    background-color: #1BA8B7;
    border: none;
}

#coupon_number {
    margin-top: 10px;
}

#coupon_number button {
    background-color: #1BA8B7;
    border: none;
}

#payer .pay_method {
    float: left;
    display: block;
    margin: 0 10px 0 0;
    border: 2px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#payer .pay_method.active {
    border-color: #1BA8B7;
}

#shopping-cart #payer div.active b {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: url(/static/order/selected-icon.png) no-repeat;
}

#shopping-cart .kit_id a {
    background-color: #1BA8B7;
    border: none;
}

#shopping-cart .kit_id .kit_notice {
    margin-top: 10px;
    color: grey;
}

#shopping-cart #warning .warning-body {
    text-align: center;
    height: 200px;
}

#shopping-cart #warning .warning-body #message {
    margin-top: 30px;
    margin-bottom: 30px;
}

#shopping-cart #warning .warning-body img {
    width: 40px;
}

#shopping-cart #warning .warning-body button {
    background-color: #1BA8B7;
    border: none;
}

#totalbox {
    padding-top: 30px;
    padding-bottom: 30px;
}

#totalbox .check {
    text-align: right;
    vertical-align: middle;
}

#totalbox #finalPrice {
    margin-right: 10px;
}

#totalbox #finalPriceDiv1 {
    color: #1BA8B7;
    font-size: 120%;
}

#totalbox .btn-submit {
    background-color: #1BA8B7;
    border: none;
}

#totalbox .row {
    vertical-align: middle;
}

#totalbox .pricesum {
    margin-bottom: 10px;
}

@media (max-width: 414px) {
    .mainbox {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px 2%;
    }

    .toptitle {
        padding-bottom: 10px;
    }

    #toptitle {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #btn-lg {
        padding: 3px 8px;
        font-size: 16px;
    }

    .firstbox {
        margin-top: 80px;
    }

}