/*收货信息*/
.mainbox {
    width: 60%;
    background-color: white;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px 2%;
}

.firstbox {
    margin-top: 100px;
}

.toptitle {
    text-align: center;
    padding-bottom: 20px;

}

#number {
    padding-left: 10px;
    width: 100px;
}

.selectAddress {
    height: 30px;
}

.mui-numbox button {
    height: 30px;
}

.mui-numbox input {
    height: 30px;
}

.invoice_type label {
    margin: 0px 10px 0px 0px;
}

.invoice_title .invoice_notice {
    color: grey;
    margin-top: 10px;
}

#show_coupon {
    cursor: pointer;
    text-decoration: none;
    color: #1BA8B7;
}

#couponWrapper a.btn {
    background-color: #1BA8B7;
    border: none;
}

#coupon_number {
    margin-top: 10px;
}

#coupon_number button {
    background-color: #1BA8B7;
    border: none;
}

#payer .pay_method {
    float: left;
    display: block;
    margin: 0 10px 0 0;
    border: 2px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#payer .pay_method.active {
    border-color: #1BA8B7;
}

#shopping-cart #payer div.active b {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: url(/static/order/selected-icon.png) no-repeat;
}

#shopping-cart .kit_id a{
    background-color: #1BA8B7;
    border: none;
}

#shopping-cart .kit_id .kit_notice{
    margin-top: 10px;
    color: grey;
}

#shopping-cart #warning .warning-body{
    text-align: center;
    height: 200px;
}

#shopping-cart #warning .warning-body #message{
    margin-top: 30px;
    margin-bottom: 30px;
}

#shopping-cart #warning .warning-body img{
    width: 40px;
}

#shopping-cart #warning .warning-body button{
    background-color: #1BA8B7;
    border: none;
}


#totalbox {
    padding-top: 30px;
    padding-bottom: 30px;
}

#totalbox .check {
    text-align: right;
    vertical-align: middle;
}

#totalbox #finalPrice {
    margin-right: 10px;
}

#totalbox #finalPriceDiv1 {
    color: #1BA8B7;
    font-size: 120%;
}

#totalbox .btn-submit {
    background-color: #1BA8B7;
    border: none;
}

#totalbox .row {
    vertical-align: middle;
}

#totalbox .pricesum {
    margin-bottom: 10px;
}

/*.addressone {*/
/*width: 100%;*/
/*height: 0px;*/
/*background-color: #008000;*/
/*font-size: 15px;*/
/*}*/

/*.paynumber {*/
/*margin-top: -6px;*/
/*}*/

/*.form-control {*/
/*padding: 6px;*/
/*border-color: #e6e6e6;*/
/*width: 80%;*/
/*background-color: #fff;*/
/*border: 1px solid #ccc;*/
/*margin-left: 16%;*/
/*margin-top: -8px;*/
/*}*/

/*.payaddress dl {*/
/*padding-top: 20px;*/
/*color: #666;*/
/*margin-top: 30px;*/
/*}*/

/*.payaddresser dl {*/
/*padding-top: 15px;*/
/*color: #666;*/
/*}*/

/*.paypic {*/
/*margin-left: 10%;*/
/*}*/

/*.paytp {*/
/*margin-top: -10px;*/
/*margin-left: 21%;*/
/*}*/

/*!*支付信息*!*/
/*.payer {*/
/*width: 50%;*/
/*height: 450px;*/
/*background-color: white;*/
/*margin-left: 25%;*/
/*margin-top: 80px;*/
/*}*/

/*.payaddresser {*/
/*width: 80%;*/
/*height: 280px;*/
/*background-color: white;*/
/*margin-left: 10%;*/
/*}*/

/*.payway {*/
/*margin-top: 30px;*/
/*}*/

/*.distance {*/
/*padding-right: 20px;*/
/*}*/

/*.usepromo {*/
/*margin-left: 16%;*/
/*}*/

/*.promodiv {*/
/*margin-left: 10%;*/
/*list-style: none;*/
/*}*/

/*.promodivan {*/
/*margin-left: 52%;*/
/*background-color: #4fb1f7;*/
/*padding: 8px 12px;*/
/*}*/

/*.promodiv a {*/
/*text-decoration: none;*/
/*color: #4fb1f7;*/
/*cursor: pointer;*/
/*}*/

/*.promodiv a:hover {*/
/*color: #74CAF0;*/
/*}*/

/*.promotext {*/
/*width: 50%;*/
/*margin-left: -1%;*/
/*margin-top: 10px;*/
/*}*/

/*.querendiv :hover {*/
/*background-color: #74CAF0;*/
/*}*/

/*.querendiv {*/
/*width: 30%;*/
/*margin-top: -27px;*/
/*margin-left: 34%;*/
/*}*/

/*!*总计*!*/
/*.totalbox {*/
/*width: 60%;*/
/*height: 100px;*/
/*background-color: white;*/
/*margin-left: 20%;*/
/*margin-top: 80px;*/
/*margin-bottom: 40px;*/
/*}*/

/*.total {*/
/*width: 80%;*/
/*height: 100px;*/
/*background-color:white;*/
/*margin-left: 10%;*/
/*}*/

/*.totaldi {*/
/*width: 50%;*/
/*height: 100px;*/
/*background-color:white;*/
/*float: left;*/
/*margin-left: 4%;*/
/*}*/

/*.totalprice {*/
/*line-height: 60px;*/
/*}*/

/*.price {*/
/*font-size: 20px;*/
/*vertical-align: -40px;*/
/*margin-left: -10%;*/
/*color: #4fb1f7;*/
/*}*/

/*.refer {*/
/*background-color: #4fb1f7;*/
/*padding: 12px 24px;*/
/*margin-left: 6%;*/
/*}*/

/*.billradio {*/
/*margin-left: 16%;*/
/*}*/

/*.danprice {*/
/*margin-left: 16%;*/
/*}*/

/*.mui-btn {*/
/*font-size: 16px;*/
/*margin: -2px;*/
/*margin-left: 10%;*/
/*padding: 4px;*/
/*}*/

/*.mui-btn-numbox-minus {*/
/*width: 6%;*/
/*height: 33px;*/
/*border: 1px solid #e6e6e6;*/
/*margin-left: 16%;*/
/*}*/

/*.mui-btn-numbox-plus {*/
/*width: 6%;*/
/*height: 33px;*/
/*margin-left: -6px;*/
/*border: 1px solid #e6e6e6;*/
/*}*/

/*.mui-input-numbox {*/
/*width: 11%;*/
/*height: 34px;*/
/*margin-left: -3px;*/
/*border: 2px solid #e6e6e6;*/
/*text-align: center;*/
/*}*/

/*.region {*/
/*margin-left: 16%;*/
/*}*/

/*.row {*/
/*color: #666;*/
/*font-size: 16px;*/
/*}*/

/*input:focus {*/
/*border-style: solid;*/
/*border-color: #4fb1f7;*/
/*}*/

/*.price a:hover {*/
/*background-color: #74CAF0;*/
/*}*/