.footer-distributed {
    background-color: #f5f5f5;
    color: #999e9e;
    width: 100%;
    text-align: left;
    /*font: 14px sans-serif;*/
    padding: 30px 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right,
.footer-distributed .footer-center {
    vertical-align: top;
}

/* The company logo */

.footer-distributed h3 {
    margin-bottom: 10px;
    margin-top: -5px;
    color: #999e9e;
}

.footer-distributed .footer-links {
    color: white;
    margin: 10px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links ul {
    list-style: none;
    color: white;
    padding-left: 0px;
}

.footer-distributed .footer-links ul li {
    margin-bottom: 5px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: #999e9e;
    font-size: 14px;
    font-weight: normal;
}

.footer-distributed .footer-links a:hover {
    text-decoration: none;
    color: #1BA8B7;
}

.footer-distributed .footer-right i {
    color: #ffffff;
    background: grey;
    font-size: 120%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    vertical-align: middle;
}

.footer-distributed .footer-right p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-right p a {
    color: white;
    color: #999e9e;
    text-decoration: none;;
}

.footer-distributed .footer-right p a:hover {
    color: #dddddd;
    color: #1BA8B7;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #555555;
    font-size: 120%;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: grey;
    border-radius: 50%;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .copyright {
    font-size: 100%;
    font-weight: normal;
}

.footer-distributed hr {
    background-color: #cccccc;
    color: #cccccc;
    height: 1px;
    border: none;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right,
    .footer-distributed .footer-center {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
    }

    .footer-distributed .footer-right i {
        margin-left: 0;
    }

    .footer-distributed .footer-links a {
        line-height: 1.2;
    }

    .footer-distributed .footer-company-about span {
        margin-bottom: 5px;
    }

}

#returnTop {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: gray;
    color: white;
    line-height: 30px;
    text-align: center;
    position: fixed;
    left: 80%;
    bottom: 15%;
    display: none;
    border-style: none;
    cursor: pointer;
}