/*
Author: Frank
Time: 20170225
Description: for career page
*/

#career {
    margin-top: 80px;
}

#career #topimg {
    width: 100%;
    overflow: hidden;
}

#career .careerwrapper {
    background-color: white;
    padding: 40px 60px;
}

#career .careerwrapper .title {
    font-size: 200%;
    font-weight: bold;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 20px;

}

#career .careerwrapper .job-title .name {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 140%;
    font-weight: bold;
    color: #4fb1f7;
    color: #1BA8B7;
}

#career .careerwrapper .job-title .des {
    font-size: 100%;
    color: #888888;

}

#career .careerwrapper #slogan {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 10px;
}

#career .careerwrapper #aim {
    line-height: 180%;
}

#career .careerwrapper .job-description {
    margin-bottom: 40px;
}

#career .address, #career .address a {
    background-color: #1BA8B7;
    color: white;
    font-size: 120%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    #career .careerwrapper {
        padding: 20px 30px;
    }

    #career .careerwrapper .title {
        font-size: 150%;
        margin-bottom: 10px;
    }

    #career .careerwrapper #slogan {
        font-size: 120%;
        margin-bottom: 5px;
    }

    #career #address, #career #address a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #career .careerwrapper .job-title .name {
        font-size: 120%;
    }

    #career .careerwrapper h4{
        font-size: 110%;
    }
}
