{% extends "account/base.html" %}
{% load i18n %}
{% block title %}
    <title>{% trans "安吉康尔 | 用户注册" %}</title>
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/account.css" %}?time={% now "YmdHi" %}">
    <script src="{% static "js/account.js" %}?time={% now "YmdHi" %}"></script>
    <div class="container">
        <div class="register">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="header">注册安吉康尔使用我们的产品</div>
                    <input class="hide" id="languageCode" value={{ languageCode }}>
                    <form class="form-horizontal signup" id="signup_form" method="post"
                          action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {#                        {{ form.as_p }}#}


                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="error-msg hide" id="username-msg">

                        </div>
                        <div class="submit-error">
                            {{ form.username.errors }}
                        </div>


                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="error-msg hide" id="email-msg"></div>
                        <div class="submit-error">
                            {{ form.email.errors }}
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="error-msg hide" id="password1-msg"></div>
                        <div class="submit-error">
                            {{ form.password1.errors }}
                        </div>


                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <div class="error-msg hide" id="password2-msg"></div>
                        <div class="submit-error">
                            {{ form.password2.errors }}
                        </div>

                        <div class="form-group terms">
                            <div class="col-sm-12">
                                我同意 <a href={% url 'terms' %}>服务条款</a> 和 <a href="{% url 'privacy' %}">隐私政策</a>
                            </div>
                        </div>


                        <div class="form-group submit-button">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-info">注册</button>
                            </div>

                        </div>

                        <div class="form-group submit-button">
                            <div class="col-sm-4">
                                已有账号? <a href="{{ login_url }}">登录</a>
                            </div>

                        </div>

                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}