{% extends "base.html" %}

{% block title %}
    {% load i18n %}
    <title>{% trans "安吉康尔 | 服务购买" %}</title>
{% endblock %}

{% block content %}
    {% load static %}
    {% load qr_tags %}
    <link rel="stylesheet" href="{% static "order/order.css" %}?time={% now "YmdHi" %}">
    <div id="order">
        <div class="container">
            <div id="orderwrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content payment wx">
                            <img src="{% static 'order/wx.jpg' %}">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    {% qr_from_text code_url 150 %}
                                    <div class="description">请在2小时内使用微信扫描二维码以完成支付</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}